@mixin flex {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.base-button {
  font-family: "Gilroy";
  font-weight: 600;
  border-radius: 8px;
}

.button {
  width: max-content;
  font-size: 14px;
  user-select: none;
  &__wrapper {
    &-nav,
    &-prod {
      @include flex;
      gap: 12px;
      padding: 10px;
      max-width: 150px;
      height: 52px;
    }
    &-card {
      @include flex;
      max-width: 137px;
      height: 44px;
      padding: 12px 18px;
      gap: 8px;
    }
    &-order {
      @include flex;
      max-width: 211px;
      height: 59px;
      text-transform: uppercase;
      padding: 20px 30px;
      font-size: 13px;
    }
    &-counter {
      @include flex;
      max-width: 62px;
      height: 44px;
      padding: 20px 22px;
      border-radius: 10px;
      &:hover {
        box-shadow: 0px 5px 10px $defShadow;
      }
    }
  }

  &__title {
    padding: 0 10px;
    border-right: 1px solid $defBorder;
    &-borderless {
      border: 0;
    }
  }

  &__image {
    width: rem(24);
    height: rem(24);
    border-radius: 50%;
    background-color: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black;
  }
}

.button-nav-mobile {
  &__wrapper {
    cursor: pointer;
    max-width: 62px;
    height: 56px;
    padding: 8px;
    gap: 3px;
    flex-direction: column;
    align-items: center;
    display: none;
    @media (max-width: $mobile) {
      display: flex;
    }
  }
  &__title {
    font-size: 12px;
    border-top: 1px solid $defBorder;
  }
}

.button-nav-hide {
  @media (max-width: $mobile) {
    display: none;
  }
}

.green-base {
  background: $btnColor;
  color: $mainColor;
}

.black-base {
  color: $mainColor;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
