.footer{
    font-family: "Open Sans";
    background: linear-gradient(270.7deg, #44403F 0.4%, #211F20 100%);

    &__wrapper{
        padding: 23px 40px;
        display: flex;
        gap: 55px;
        align-items: center;
        max-width: 1440px;
        margin: 0 auto;
        @media(max-width: $tablet){
            gap: 30px;   
        }
        @media(max-width: $mobile){
            position: relative;
            justify-content: center;
        }
    }
    &__button{
        border-radius: 50%;
        background-color: white;
        min-width: rem(64);
        height: rem(64);
        position: relative;
        cursor: pointer;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        @media (max-width: $mobile){
            position: absolute;
            min-width: rem(54);
            height: rem(54);
            left: 20px;
            top: 30px;
        }
        @media (max-width: $mobileSmall){
            top: 20px;
            left: 10px;
        }
        
    }
    &__info{
        max-width: 220px;
        @media (max-width: $mobile){
            text-align: center;
        }
    }
    &__logo{
        font-weight: 700;
        color: white;
        font-size: 25px;
        letter-spacing: 0.15em;
    }
    &__small{
        margin-top: 15px;
        max-width: 181px;
        font-size: 12px;
        i{
            color: #CFCFCF;
        }
    }
    &__links{
        margin-top: 10px;
        text-decoration: underline;
        font-weight: 300;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #FFFFFF33;
    }
    &__options{
        margin: 0 auto;
        color: white;
        font-size: 20px;
        font-weight: 300;
        display: flex;
        align-items: center;
        gap: 20px;
        @media (max-width: $tablet){
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: center;
        }
        @media (max-width: $mobile){
            display: none;
        }
    }
    
}