.header{
	width: 100%;
	background-color: #403C3B;
	font-family: "Open Sans";
	color: white;
	position: relative;
	&__wrapper{
		margin: 0 auto;
		max-width: 1440px;
		width: 100%;
		padding: 24px 80px;
		display: flex;
		gap: 30px;
		align-items: center;
		@media (max-width: $tablet){
			padding: 24px 60px;
		}
		@media (max-width: $mobile){
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 24px 40px
		}
		@media (max-width: $mobileSmall){
			padding: 18px 20px;
		}
	}
	&__logo{
		letter-spacing: 0.15em;
		font-weight: 700;
		font-size: 25px;
	}
	&__input{
		margin-left: 40px;
		max-width: 555px;
		max-height: 52px;
		width: 100%;
		border-radius: 10px;
		background: #504B4A;
		padding: 14px 20px;
		display: flex;
		gap: 20px;
		@media (max-width: $tablet){
			gap: 10px;
			padding: 14px 15px;
			margin: 0;
		}
		@media (max-width: $mobile){
			margin: 0 auto;
			order: 10;
		}
		input{
			font-size: 18px;
			width: 100%;
			color: #CFCFCF;
			outline: none;
			background-color: transparent;
		}
	}
	&__button{
		margin: 0 0 0 auto;
		@media (max-width: $mobile){
			margin: 0;
		}
	}
}

.call{
	display: flex;
	gap: 10px;
	align-items: center;
	@media (max-width: $mobile){
		display: none;
	}
	&__icon{
		user-select: none;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 32px;
		height: 32px;
		background: $gradient;
		border-radius: 50%;
		position: relative;
		@media (max-width: $tablet){
			cursor: pointer;
		}
	}
	&__modal{
		position: absolute;
		background: #504B4A;
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;
		width: max-content;
		border-radius: 10px;
		outline: 1px solid #CFCFCF;
		padding: 15px 10px;
		bottom: -80px;
	}
	&__desc{
		display: flex;
		flex-direction: column;
		gap: 5px;
		width: max-content;
		@media (max-width: $tablet){
			display: none;
		}
	}
	&__title, &__modal-title{
		color: #CFCFCF;
		font-size: 12px;
	}
	&__number, &__modal-number{
		color: white;
		font-size: 16px;
		font-weight: 700;
	}	
}

.icon-menu {
	display: none;
	width: max-content;
	@media (max-width: $mobile) {
		display: flex;
		position: relative;
		justify-content: center;
		height: rem(18);
		cursor: pointer;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			position: absolute;
			width: rem(30);
			height: rem(3);
			border-radius: 10px;
			background-color: #65906C;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: -1px;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&:before,&:after {
			}
			&:before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&:after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
	&-text{
		color: white;
		font-weight: 700;
		font-size: 12px;
		margin-top: 25px;
		text-align: center;
	}
}

.burgher-menu{
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100vh;
	position: absolute;
	background-color: rgba($color: black, $alpha: 0.2)
}

