.header {
  background-color: $grayColor;
  position: relative;
  color: $mainColor;
  &__container {
    padding: 24px;
    display: flex;
    gap: 30px;
    align-items: center;
    @media (max-width: $mobile) {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__logo {
    letter-spacing: 0.15em;
    font-weight: 700;
    font-size: 25px;
  }
  &__input {
    margin-left: 40px;
    max-width: 555px;
    width: 100%;
    border-radius: 10px;
    background: $secColor;
    padding: 14px 20px;
    display: flex;
    gap: 20px;
    @media (max-width: $tablet) {
      gap: 10px;
    }
    @media (max-width: $mobile) {
      margin: 0 auto;
      order: 10;
    }
    input {
      font-size: 18px;
      width: 100%;
      color: #cfcfcf;
      outline: none;
      background-color: transparent;
    }
  }
  &__button {
    margin-left: auto;
    @media (max-width: $mobile) {
      margin: 0;
    }
  }
}

.call {
  display: flex;
  gap: 10px;
  @media (max-width: $mobile) {
    display: none;
  }
  &__icon {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    height: 32px;
    background: $btnColor;
    border-radius: 50%;
  }
  &__desc {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: max-content;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &__title {
    color: #cfcfcf;
    font-size: 12px;
  }
  &__number {
    color: $mainColor;
    font-size: 16px;
    font-weight: 700;
  }
}

.icon-menu {
  display: none;
  width: max-content;
  @media (max-width: $mobile) {
    display: flex;
    position: relative;
    justify-content: center;
    height: rem(18);
    cursor: pointer;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      position: absolute;
      width: rem(30);
      height: rem(3);
      border-radius: 10px;
      background-color: #65906c;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: -1px;
    }
    span {
      top: calc(50% - rem(1));
    }
  }
}
.menu-open {
  span {
    width: 0;
  }
  &:before,
  &:after {
  }
  &:before {
    top: calc(50% - rem(1));
    transform: rotate(-45deg);
  }
  &:after {
    bottom: calc(50% - rem(1));
    transform: rotate(45deg);
  }
}

.icon-menu-text {
  font-size: rem(12);
  font-weight: 700;
  font-family: "Open Sans";
}
.mobile-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  @media (min-width: $mobile) {
    display: none;
  }
}

.mobile-sidemenu {
  transition: all 0.3s ease-in-out;
  position: fixed;
  width: 100%;
  max-width: 220px;
  background-color: $grayColor;
  left: 0;
  top: 0;
  height: 100vh;
  font-size: rem(18);
  z-index: 9999;
  left: -100%;
  // .mobile-sidemenu__content

  &__content {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 32px;
    left: 50%;
    transform: translateX(-50%);
    gap: 12px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $secColor;
    padding: 24px;
    text-align: center;
  }
  &__close {
    font-size: rem(24);
  }
}
.sidemenu-open {
  left: 0;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  &-open {
    display: block;
  }
}
