//====================================================================================================
.hero {
  min-height: 484px;
  // width: 100%;
  background: url(../images/hero/hero-bg.png) center center/cover no-repeat;
  color: #fff;
  padding: 130px 0 0 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  &__title {
    @include adaptiveValue("font-size", 56, 32);
    font-weight: 900;
    transform: rotate(-8.37deg);
    max-width: 700px;
    text-align: center;
    position: relative;

    &:before {
      content: "Доставка ВКУСНЕЙШИХ БЛЮД за 60 минут";
      position: absolute;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: rgba(#fff, 0.28);
      left: -26px;
      bottom: 10px;
    }
  }

  &__subtitle {
    width: max-content;
    height: max-content;
    margin-left: 250px;
    transform: skew(-10deg, -8deg);
    margin-top: 40px;
    border: 2px solid;
    border-image-slice: 1;
    width: 226px;
    height: 34px;
    border-image-source: linear-gradient(to top right, transparent 20%, #fff);
    position: relative;

    &-text {
      // background: $gradient;
      width: max-content;
      line-height: 0px;
      padding: 0 10px;
      font-size: rem(25);
      font-style: italic;
      font-weight: 300;
      transform: skew(15deg, 9deg) rotate(-8.37deg);

      position: relative;

      &:before {
        content: "";
        position: absolute;
        background: $gradient;
        width: 215px;
        height: 34px;
        left: 2px;
        top: -16px;
        z-index: -1;
        transform: skew(-20deg, -0deg);
      }
    }
  }
}

@media (max-width: $tablet) {
  .hero {
    min-height: 450px;
    padding: 120px 0 0 40px;
  }
}

@media (max-width: $mobile) {
  .hero {
    min-height: 420px;
    padding: 120px 0 0 0;

    &__title {
      //   font-size: rem(38);
      max-width: 500px;
      margin: 0 auto;

      &:before {
        left: -18px;
        bottom: 6px;
      }
    }

    &__subtitle {
      margin: 40px auto;
    }
  }
}

@media (max-width: $mobileSmall) {
  .hero {
    min-height: 300px;
    padding: 70px 10px;

    &__title {
      font-weight: 500;

      &:before {
        left: -10px;
      }
    }
  }
}

//====================================================================================================

.products {
  // .products__wrapper
  padding-top: 45px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  &__title {
    color: white;
    font-weight: 700;
    font-size: 32px;
    position: relative;
    padding-left: 20px;
    border-left: 4px solid #618967;
  }
}

.carousel {
  padding: 45px 0 !important;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

// ====================================================================================================

.menu {
  &__container {
    ul {
      display: flex;
      gap: 32px;
      align-items: center;
      justify-content: center;
      li {
        padding: 24px 0;
        cursor: pointer;
        &.active {
          border-bottom: 3px solid #618967;
        }
      }
    }
  }
}

.map {
  // .map__card

  &__card {
    width: 100%;
    max-width: 526px;
    max-height: 405px;
    background: #2e2b2c;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 25px 35px;
    position: absolute;
    z-index: 9999;
    top: 35%;
    left: 8%;

    @media (max-width: $tablet) {
      display: block;
      position: relative;
      margin: 0 auto;
      margin-bottom: -320px;
      margin-top: 190px;
      top: 0;
      left: 0;
    }
  }

  // .map__card-title

  &__card-title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */

    text-transform: uppercase;

    color: #ffffff;
  }

  // .map__separator

  &__separator {
    width: 100%;
    background-image: radial-gradient(#ffffff15, #ffffff00),
      radial-gradient(#ffffff15, #ffffff00);
    background-position: 0, 100%, 0, 100%;
    height: 1px;
    margin-top: 21px;
  }

  // .map__info

  &__info {
    div {
      display: flex;
      align-items: center;
      span {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #cfcfcf;
        margin-left: 11px;
      }

      img {
        width: 24px;
        height: 24px;
      }
    }
    p {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      margin-left: 38px;
      color: #ffffff;
    }
  }

  // .map__contacts

  &__contacts {
    display: flex;
    margin-top: 17px;
    gap: 20px;
  }

  // .map__footer

  &__footer {
    display: flex;
    justify-content: center;
    gap: 17px;
    margin-top: 27px;
  }

  // .map__icons

  &__icons {
    display: flex;
    gap: 10px;
  }
}
.map-phone {
  h1 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    @include adaptiveValue("font-size", 23, 18);
    line-height: 31px;
    /* identical to box height */

    color: #ffffff;
  }
  p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    @include adaptiveValue("font-size", 13, 10);

    line-height: 18px;
    /* identical to box height */

    text-align: right;

    color: #cfcfcf;
  }
}

.map {
  @include adaptiveValue("height", 612, 712);
  position: relative;
}
.leaflet-container {
  height: 800px;
  width: 100%;
}
.map__container {
  position: absolute;
  left: 0;
  right: 0;
  top: -180px;
  z-index: -1;
}
